* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
  padding: 1.6rem 1.6rem 4rem 1.6rem;
  margin-top: 220px;
}

.card_img {
  border-radius: 12px;
  display: block;
  width: 100%;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1.6rem;
}

p {
  color: #7b879d;
  font-size: 1.5rem;
  text-align: center;
  width: 256px;
  margin: 0 auto;
}
